{% extends "WebAdmin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% if user.is_authenticated %}
        <div class="alert alert-info m-3">
          You are Already Logged in
        </div>

{% else %}

    <div class="content-section mt-5 ml-5 d-flex justify-content-center w-75">
        <form method="POST" class="ml-5 w-75">
            {% csrf_token %}
            <fieldset class="form-group ml-5">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ml-5">
                <button class="btn btn btn-dark" type="submit">Login</button>
                <div class="mt-2">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
                    <div class="border-top pt-3  d-flex justify-content-end">
            <small class="text-muted">
                Need An Account? <a class="ml-7" href="{% url 'registration_register' %}">Sign Up Now</a>
            </small>
        </div>
            </div>
        </form>

    </div>
{%endif%}
{% endblock content %}