
{% extends "WebAdmin/base.html" %}
{% load static %}

{% block content %}





 <!--###################### Slider Starts Here ############################-->
    
    <div class="page-title">
        <div class="container">
            <div class="row">
                <h2>Services</h2>
                <p> Home <i class="fas fa-angle-double-right"></i> Our Services </p>
            </div>
        </div>
    </div>





    
    

     <!--###################### Services Starts Here ############################-->
    <div class="services-container container-fluid">
        <div class="container sess-in-cont">
            <div class="session-title row">
                <h2>Our Services</h2>
                <p>Our Services is to detect violent activities in public
areas in order to warn the public
officers and enable quick action against them. </p>
            </div>
            <div class="sess-row row">
                <div class="col-md-4">
                    <div class="serv-det">
                        <figure class="imghvr-fade">
                            <img src="{% static 'WebAdmin/assets/images/services/s1.jpg' %}" alt="">
                            <figcaption>
                                we can install cctrv camera' on every public place for people security.
                            </figcaption>
                        </figure>
                        <h6>CCTV Installation</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv-det">
                        <figure class="imghvr-fade">
                            <img src="{% static 'WebAdmin/assets/images/services/s2.jpg' %}" alt="">
                            <figcaption>
                                Smart Security web application will detetct violent action like fighting with the help of cctv camera's to warn the public
officers and enable quick action against them.

                            </figcaption>
                        </figure>
                        <h6>Detection</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv-det">
                        <figure class="imghvr-fade">
                            <img src="{% static 'WebAdmin/assets/images/services/s3.jpg' %}" alt="">
                            <figcaption>
                                Provide security to every person in public
                            </figcaption>
                        </figure>
                        <h6>Security</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--###################### Key Features Starts Here ##########################-->
    <!-- <div class="key-features container-fluid">
        <div class="container">
            <div class="session-title row">
                <h2>Key Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis magna odio, eu vehicula augue suscipit ac. Pellentesque quis dui lorem. </p>
            </div>
            <div class="key-row row">
                <div class="col-md-3">
                    <div class="key-single">
                        <i class="fas fa-fingerprint"></i>
                        <h6>High Security</h6>
                        <p>Sed ligula eros, convallis sit amet ullamcorper sit amet, consequat vel nulla. Maecenas quis convallis dolor. Ut enim lacus, aliquet at neque et,</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="key-single">
                        <i class="fas fa-user-lock"></i>
                        <h6>Full Device Protection</h6>
                        <p>Sed ligula eros, convallis sit amet ullamcorper sit amet, consequat vel nulla. Maecenas quis convallis dolor. Ut enim lacus, aliquet at neque et,</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="key-single">
                        <i class="fas fa-video"></i>
                        <h6>Remote Monitoring</h6>
                        <p>Sed ligula eros, convallis sit amet ullamcorper sit amet, consequat vel nulla. Maecenas quis convallis dolor. Ut enim lacus, aliquet at neque et,</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="key-single">
                        <i class="far fa-folder-open"></i>
                        <h6>Full Backup of Information</h6>
                        <p>Sed ligula eros, convallis sit amet ullamcorper sit amet, consequat vel nulla. Maecenas quis convallis dolor. Ut enim lacus, aliquet at neque et,</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--###################### Testimonial Starts Here ############################-->
    



{% endblock content %}