{% extends "WebAdmin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>

    <div class="content-section m-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn btn-dark" type="submit">Reset password</button>
            </div>
        </form>

    </div>
{% endblock content %}

{# This is used by django.contrib.auth #}
