{% extends "WebAdmin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
  <div class="alert alert-info m-3">
          We have sent an email to {{ email }} with further instructions.
      </div>

{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
